.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:800px
}

.container div {
    width:20px;
    height:20px;
    background: yellow;
}

.container .black-box {
    background: hsl(0, 0%, 0%);
}

.container .pixaleted {
    background: hsla(0, 0%, 0%, 0.608);
}